@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body{
  overflow-x:hidden;
}

@font-face {
  font-family: 'Clash Display';
  src: url('../public/fonts/ClashDisplayRegular.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Clash Display Medium';
  src: url('../public/fonts/ClashDisplaySemibold.otf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Clash Display Bold';
  src: url('../public/fonts/ClashDisplayBold.otf');
  font-weight: medium;
  font-style: normal;
}

@layer utilities {
  .gradient-border {
    position: relative;
    border-top: 2px solid transparent;
    border-image: linear-gradient(to right, #16161600, #696969, #16161600) 1;
  }
}

* {
  font-family: 'Clash Display', sans-serif;
}

.clash-bold{
  font-family: 'Clash Display Bold', sans-serif;
}

.clash-medium{
  font-family: 'Clash Display Medium', sans-serif;
}